{% extends "chat/base.html" %}

{% block content %}
    <h3 style="text-align: center;">
      Chat Rooms
    </h3>
    <div>
      {% for group in chat_groups %}
          <a class="C_chat_group-link" href="chat/{{group.name}}">
            <div class="C_chat_group">
                <div> {{group.name}} </div>
                {% if user == group.creator %}
                    <a href="delete_group/{{group.name}}/"> delete </a>
                {% endif %}
                <!-- <div> {{active_conn_count}} users are active </div> -->
            </div>
            
          </a> 
      {% endfor %}
    </div>

    <form method="post" action="add_group/">
        {% csrf_token %}
        <div class="form-row">
          <h2> Add Chat Group </h2>
          <div class="col-md-6">
            <input type="text" class="form-control" name="group_name" placeholder="Chat Group Name" required>
          </div>
          <div class="col-md-6">
            <button class="C_button" type="submit" name="submit" class="btn btn-outline-primary">
              Add
            </button>
          </div>
        </div>
    </form>

    <script>

    </script>
{% endblock content %}