{% for group in chat_groups %}
    <div class="C_chat_group">
        <p> {{group.name}} </p>
        <a href="delete_group/{{group.name}}/"> delete </a>
        <p></p>
    </div>
    
{% endfor %}

<form method="post" action="add_group/">
    {% csrf_token %}
    <div class="form-row">
      <h2> Add Chat Group </h2>
      <div class="col-md-6">
        <input type="text" class="form-control" name="group_name" placeholder="Chat Group Name" required>
      </div>
      <div class="col-md-6">
        <button type="submit" name="submit" class="btn btn-outline-primary">
          Add
        </button>
      </div>
    </div>
</form>