{% extends "chat/base.html" %}

{% block content %}

    <div class="C_container-1">
        <form method="post" action="{% url 'get_username' %}" id="id_login_form">
            {% csrf_token %}
            <h1> Welcome to Anonymous Chat! </h1> <br>
            <!-- <label for="id_username-input" > Username </label> <br> -->
            <p> Get Your Username To Continue.. </p>
            <input type="text" name="username" id="id_username-input" placeholder="username">
            <p class="C_container-1-text2" id="id_login-text"> </p>
            <!-- {{ form.password.label_tag }}
            {{ form.password }} 
            <div class="form-check">
                <input type="checkbox" name="remember_me" id="remember-me">
                <label for="remember-me">Remember Me</label>
            </div> -->
            <button class="C_button" type="submit">get username</button>
            
        </form>
    </div>

   
    <script>
        $(document).ready(function() {
            $('#id_username-input').on('input', function() {
                var username = $(this).val();
                console.log(username);
                if (username.length >= 3) {  // Adjust the minimum length as needed
                    $.ajax({
                        url: '/chat_room/check_username/',
                        data: {
                            'username': username
                        },
                        dataType: 'json',
                        success: function(data) {
                            console.log(data);
                            if (data.is_taken) {
                                $('#id_login-text').text('Username is taken. Please choose another.');
                            } else {
                                $('#id_login-text').text('Username is available');
                            }
                        }
                    });
                } else {
                    $('#id_login-text').text('Username length must be atleast 3');
                }
            });
        });
    </script>

{% endblock content %}